<div id="channels">
  <% if @message %>
    <%= @message %>
  <% end %>
  <br>
  <h2>Log in to your account</h2>

  <%= erb(:errors) %>

  <form action="/sessions" method="post">
    <label for "email">Email:</label>
    <input type="text" name="email"/>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <br>
    <input type="submit" value="Login">
  </form>
</div>