@import url('https://fonts.googleapis.com/css?family=Poiret+One|Ultra');
@import url('https://fonts.googleapis.com/css?family=Bungee|Josefin+Slab');

.flex-container {
  padding: 0;
  margin-top: 25px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  padding-left: 20px;
  line-height: 100px;
  width: 20%;
  height: 10%;
  margin-top: 5px;
  color: black;
}

.film-header {
  height: 75px;
  border-bottom: 1px solid black;
}

.top-film-header {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  text-align: center;
}

.movie-icon {
  opacity: 0.9;
}

.movie-icon:hover {
  opacity: 1;
}

.main {
  font-family: 'Ultra', serif;
  padding-left: 20px;
  font-size: 80px;
}
.sub {
  color: #DAF7A6;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}

.shadow {
  -webkit-box-shadow: 0 5px 4px -4px black;
     -moz-box-shadow: 0 5px 4px -4px black;
          box-shadow: 0 5px 4px -4px black;
}


header.hide {
  font-family: 'Poiret One', cursive;
  background: #900C3F;
  background-size: cover;
  height: 25vh;
  max-height: 25%;
}

header.show {
  font-family: 'Poiret One', cursive;
  background: #2C414E;
  background-size: cover;
  height: 50vh;
}

header.resume-header {
  background:
      linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../resume-banner.jpg);
  background-size: cover;
  height: 50vh;
  max-height: 25%;
}

.title {
  position: relative;
  top: 40%;
  left: 50%;
  width: 300px;
  padding: 5px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border: 2px solid white;
}

p#header {
  letter-spacing: 1px;
  font-family: 'Josefin Slab', serif;
  font-size: 15px;
  top: 30%;
  position: relative;
  color: white;
  text-align: center;
}

h1.title-header {
  font-family: 'Bungee', cursive;
  margin: 0;
  font-size: 35px;
  white-space: nowrap;
  color: white;
}

.nav-container {
  position: relative;
  top: 30%;
  left: 50%;
  width: 300px;
  padding: 5px;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

nav#nav-links {
  margin-top: 10px;
  width: 100%;
  position: fixed;
}

#nav-links a {
  font-size: 18px;
  padding-right: 10px;
  opacity: 0.8;
  font-family: 'Josefin Slab', serif;
}

#nav-links a:link {
  text-decoration: none;
  color: #FFC300;
}

#nav-links a:visited {
  color: #FFC300;
  text-decoration: none;
}

#nav-links a:hover {
  opacity: 1;
  text-decoration: none;
}
/*    <ul class="flex-container">
      <li class="flex-item">
        <span class="main">MovieStar</span>
        <span class="sub">The Unexpected Virtue of Loving Film</span>
      </li>
      <li class="flex-item">
        <span>link</span>
      </li>
    </ul>*/
