<div id="channels">
  <ul>
    <%@channels.each do |channel|%>
    <li>
      <a href="/channels/<%=channel.id%>">
        <%=channel.name%> (<%=channel.callsign%>)
      </a>
      $<%=channel.price_per_month%>
    </li>
    <br>
    <%end%>
  </ul>
