<ul>
  <%@channels.each do |channel|%>
  <li>
    <a href="/channels/<%=channel.id%>">
      <%=channel.name%>
    </a>
    <%=channel.callsign%>
    $<%=channel.price_per_month%>
  </li>
  <br>
  <hr>
  <%end%>
</ul>
